
<% @albums.each do |album| %>
  <ul>
    <li><%= album.name %> by <%= album.user.email %>
      <p>
        <%= album.description %>
      </p>
      <p>
        <%= link_to(image_tag(album.photos[0].photo.url), album_path(album.id)) %>
      </p>
    </li>
  </ul>
<% end %>
