
<% @albums.each do |album| %>
  <ul>
    <li><%= album.name %> by <%= album.user.email %>
      <p>
        <%= album.description %>
      </p>
      <p>
        <%= image_tag album.photos[0].photo.url %>
      </p>
    </li>
  </ul>
<% end %>
